%h1 Geek Club
%ul.rules
  %li First rule: you don't talk about geek club.
  %li
    Second rule: you 
    %u don't
    talk about geek club.
=link_to 'browse ThinkGeek', "http://overmind.thinserver.org:3001/proxy/" + BaseManager.uri_to_base64('http://www.thinkgeek.com')
